.container {
    margin-top: 100px
}

.counter-box {
    display: block;
    background: #f6f6f6;
    padding: 40px 20px 37px;
    text-align: center
}

.counter-box p {
    margin: 5px 0 0;
    padding: 0;
    color: #909090;
    font-size: 18px;
    font-weight: 500
}

.counter-box i {
    font-size: 60px;
    margin: 0 0 15px;
    color: #d2d2d2
}

.counter {
    display: block;
    font-size: 32px;
    font-weight: 700;
    color: #666;
    line-height: 28px
}

.counter-box.colored {
    background: #3acf87
}

.counter-box.colored p,
.counter-box.colored i,
.counter-box.colored .counter {
    color: #fff
}



/***************** New Styles *********************/

.dashboard-container {
    margin-top: 20px;
}

.dashboard-row {
    margin-bottom: 20px;
}

.counter-box {
    background: #f2f2f2;
    padding: 30px 20px;
    height: 236px;
}

.counter-box i {
    font-size: 36px;
    margin: 0 0 15px;
    color: #b5b5b5;
}

.counter-box p {
    font-size: 16px;
    color: #6b6969;
}

.counter-box .counter {
    color: #555;
}

.col-box {
    padding-right: 10px;
    padding-left: 10px;
}

.counter {
    font-size: 28px;
}


@media (min-width: 1200px){
    .dashboard-container {
        width: 100% !important;
    }
}
